BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Linux
ColumnLimit: 95
AllowShortFunctionsOnASingleLine: false
StatementMacros:
  - OMP_BARRIER
  - OMP_PARALLEL
  - OMP_FOR
  - OMP_PARALLEL_FOR
  - OMP_SINGLE
  - OMP_PARALLEL_FOR_STATIC
  - OMP_PARALLEL_FOR_DYNAMIC
  - OMP_PARALLEL_FOR_REDUCTION_PLUS
  - OMP_FOR_STATIC
  - OMP_FOR_DYNAMIC
